#login-form,
#google-login,
#register-button,
#signup-form,
#guest-greeting {
    display: none
}

#logout-form,
#user-account,
#user-account a {
    display: flex;
    flex-direction: column;
    color: black;
    text-decoration: none;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

#welcome-back {
    display: flex;
}

#user-account a:hover {
    background-color: rgb(233, 212, 212)
}

#user-account {
    width: 11em;
}