html {
  scroll-behavior: smooth;
}

col {
  margin-bottom: 2em;
}

.about-us-title {
  display: none;
}



@media only screen and (max-width: 600px) {
  .about-us-title {
    display: block;
  }
  #mail-button {
    text-emphasis: center;
    font-size: 0.75em;
  }
}

#home-logo {
  width: 60px;
  height: 60px;
}
#logout-form,
#user-account,
#welcome-back {
  display: none;
}

#navbarDropdown {
  color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  list-style: none;
}

#navbarDropdown p {
  vertical-align: middle;
  padding: 0;
  margin: 0;
}

#user-dropdown {
  display: flex;
  flex-direction: column;
}

#login-form {
  width: 11em;
  padding-left: 1em;
  padding-right: 1em;
  margin-bottom: 0.5em;
}
#login-form a {
  text-decoration: none;
  color: black;
  /* border: 1px solid black; */
}

#login-form a:hover {
  background-color: rgb(233, 212, 212);
}

.container {
  margin-top: 1.5em;
  text-align: center;
}

#section-1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2em;
}

#section-1 h1 {
  margin-bottom: 1em;
}

#section-1 h5 {
  margin-bottom: 2em;
  max-width: 25em;
}
#section-1 img{
    width: 15em;
}
.card-group {
  display: flex;
  flex-direction: row;
  /* margin: 1em; */
}

.card {
  margin: 1.5em;
  padding: 0;
  border: 1px solid black;
  height: 36em;
}

.card-img-top {
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 1em;
}

#contact-button {
  text-decoration: none;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  /* background-color:  */
  text-transform: uppercase;
  padding: 1em;
}

#contact-us {
  display: flex;
  justify-content: center;
  /* width: 10em; */
}

#mail-button {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: black;
  border: 2px solid black;
  border-radius: 5px;
  /* background-color:  */
  text-transform: uppercase;
  margin-top: 1em;
  margin: 1em;
  padding: 1em;
  width: 15em;
}

#mail-button:hover {
  background-color: skyblue;
}
