html {
  scroll-behavior: smooth;
}

#home-logo {
  width: 60px;
  height: 60px;
}
#logout-form,
#user-account,
#welcome-back {
  display: none;
}

#navbarDropdown {
  color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  list-style: none;
}

#navbarDropdown p {
  vertical-align: middle;
  padding: 0;
  margin: 0;
}
#user-account {
  width: 11em;
}
.billingAddressContainerToggle {
  display: none;
}

/* .containerHideToggle {
    display: none;
}

.containerShowToggle {
    display: block
} */
