html {
  scroll-behavior: smooth;
}

#home-logo {
  width: 60px;
  height: 60px;
}
#logout-form,
#user-account,
#welcome-back {
  display: none;
}

#navbarDropdown {
  color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  list-style: none;
}

#navbarDropdown p {
  vertical-align: middle;
  padding: 0;
  margin: 0;
}

#user-dropdown {
  display: flex;
  flex-direction: column;
}

#login-form {
  width: 11em;
  padding-left: 1em;
  padding-right: 1em;
  margin-bottom: 0.5em;
}
#login-form a {
  text-decoration: none;
  color: black;
  /* border: 1px solid black; */
}

#login-form a:hover{
    background-color: rgb(233, 212, 212)

}
----------------------------------------------------------------
/* LOGIN & REGISTRATION PAGE */

.rounded-t-5 {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

@media (min-width: 992px) {
  .rounded-tr-lg-0 {
    border-top-right-radius: 0;
  }

  .rounded-bl-lg-5 {
    border-bottom-left-radius: 0.5rem;
  }
}

----------------------------------------------------------------
  .carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0;
  margin-right: 14%;
  margin-bottom: 0rem;
  margin-left: 15%;
  list-style: none;
}

.carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 30px;
  height: 3px;
  padding: 0;
  margin-top: 6px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: rgb(240, 60, 60);
  background-clip: padding-box;
  border: 0;
  border-top: 10px solid transparent;
  border-bottom: 0px solid transparent;
  opacity: 0.5;
  transition: opacity 0.6s ease;
}

.product-list {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  /* max-height: calc(100vh - 2rem);
 max-width: calc(100vh - 2rem); */
  overflow: auto;
  margin-right: 2rem;
  align-items: baseline;
}

.product-content {
  background-color: #ffffff;
  width: 18rem;
  height: 18rem;
  display: inline-block;
  margin: 1rem;
  margin-bottom: 1rem;
  position: relative;
}

.product-inner {
  overflow: auto;
}

.product img {
  max-width: 100%;
  max-height: 100%;
}

.bar-row {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

button {
  text-align: justify;
  font-size: 13px;
  display: flex;
  border: 1px solid black;
  align-content: flex-start;
  padding: 0.5%;
  border-radius: 5px;
  /* border-color: rgb(255, 255, 255); */
  box-shadow: none;
  background-color: #ffffff;
  align-items: center;
}

.small {
  font-size: 0.875em;
  text-align: center;
  display: contents;
}

img {
  height: 15rem;
}

button.like-btn {
  text-align: justify;
  font-size: 13px;
  display: flex;
  align-content: flex-start;
  padding: 0%;
  border-color: #ffffff00;
  background-color: #ffffff00;
  box-shadow: none;
}

button.unlike-btn {
  text-align: justify;
  font-size: 13px;
  display: flex;
  align-content: flex-start;
  padding: 0%;
  border-color: #ffffff00;
  background-color: #ffffff00;
  box-shadow: none;
}

.fa-solid.fa-tag {
  color: rgb(62, 62, 59);
}

/* .swal-modal {
    background-color: rgba(136, 139, 137, 0.336)!important;
    border: 3px solid rgba(255, 255, 255, 0.224)!important;
}

.swal-overlay {
    background-color: rgba(253, 253, 253, 0)!important;
} */

/* .productHistory-list {
  flex-grow: 1;
  display: in-line;
  flex-wrap: wrap;
  max-height: calc(100vh - 2rem); 
max-width: calc(100vh - 2rem);
  overflow: auto;
  margin-right: 2rem;
} */

.productHistory-content {
  background-color: #ffffff;
  /* width: max-content;
  height: 3rem; */
  display: inline-block;
  margin: 0rem;
  margin-bottom: 0rem;
  position:relative;
}

/* <----------external-css---------> */

body{
  /* margin-top:20px; */
  color: #484b51;
}
.text-secondary-d1 {
  color: #728299!important;
}
.page-header {
  margin: 0 0 1rem;
  padding-bottom: 1rem;
  padding-top: .5rem;
  border-bottom: 1px dotted #e2e2e2;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
}
.page-title {
  padding: 0;
  margin: 0;
  font-size: 1.75rem;
  font-weight: 300;
}
.brc-default-l1 {
  border-color: #dce9f0!important;
}

.ml-n1, .mx-n1 {
  margin-left: -.25rem!important;
}
.mr-n1, .mx-n1 {
  margin-right: -.25rem!important;
}
.mb-4, .my-4 {
  margin-bottom: 1.5rem!important;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0,0,0,.1);
}

.text-grey-m2 {
  color: #888a8d!important;
}

.text-success-m2 {
  color: #86bd68!important;
}

.font-bolder, .text-600 {
  font-weight: 600!important;
}

.text-110 {
  font-size: 110%!important;
}
.text-blue {
  color: #478fcc!important;
}
.pb-25, .py-25 {
  padding-bottom: .75rem!important;
}

.pt-25, .py-25 {
  padding-top: .75rem!important;
}
.bgc-default-tp1 {
  background-color: rgba(121,169,197,.92)!important;
}
.bgc-default-l4, .bgc-h-default-l4:hover {
  background-color: #f3f8fa!important;
}
.page-header .page-tools {
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.btn-light {
  color: #757984;
  background-color: #f5f6f9;
  border-color: #dddfe4;
}
.w-2 {
  width: 1rem;
}

.text-120 {
  font-size: 120%!important;
}
.text-primary-m1 {
  color: #4087d4!important;
}

.text-danger-m1 {
  color: #dd4949!important;
}
.text-blue-m2 {
  color: #68a3d5!important;
}
.text-150 {
  font-size: 150%!important;
}
.text-60 {
  font-size: 60%!important;
}
.text-grey-m1 {
  color: #7b7d81!important;
}
.align-bottom {
  vertical-align: bottom!important;
}

.badge {
  font-size: 1rem;;
  color: #2146e9;
}
